<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.eclipse.remail.SingleSearchClass"
               label="REmail Search"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.remail.SingleSearchProject"
               label="REmail Search"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.remail.SingleSearchPackage"
               label="REmail Search"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.IPackageFragment">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.remail.SingleSearchClass"
            name="Search">
      </command>
      <command
            id="org.eclipse.remail.SingleSearchProject"
            name="Search">
      </command>
      <command
            id="org.eclipse.remail.SingleSearchPackage"
            name="Search">
      </command>
   </extension>
   <extension
         id="lars"
         name="lars"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.remail.SelectionProcessor"
            commandId="org.eclipse.remail.SingleSearchClass">
      </handler>
      <handler
            class="org.eclipse.remail.SelectionProcessor"
            commandId="org.eclipse.remail.SingleSearchProject">
      </handler>
      <handler
            class="org.eclipse.remail.SelectionProcessor"
            commandId="org.eclipse.remail.SingleSearchPackage">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emailrecommender.category1"
            name="REmail">
      </category>
      <view
            category="org.eclipse.emailrecommender.category1"
            class="org.eclipse.remail.views.MailView"
            icon="icons/remail.png"
            id="org.eclipse.emailrecommender.MailView"
            name="E-mails"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emailrecommender.category1"
            class="org.eclipse.remail.views.MailContentView"
            icon="icons/remail.png"
            id="org.eclipse.emailrecommender.MailContentView"
            name="E-mail Content"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.remail.preferences.PreferencePane"
            id="org.eclipse.remail.preferences.PreferencePane"
            name="REmail">
      </page>
      <page
            category="org.eclipse.remail.preferences.PreferencePane"
            class="org.eclipse.remail.preferences.PreferencePaneMbox"
            id="org.eclipse.remail.preferences.PreferencePaneMbox"
            name="Thunderbird (Mbox)">
      </page>
      <page
            category="org.eclipse.remail.preferences.PreferencePane"
            class="org.eclipse.remail.preferences.PreferencePanePostgre"
            id="org.eclipse.remail.preferences.PreferencePanePostgre"
            name="PostgreSQL">
      </page>
      <page
            category="org.eclipse.remail.preferences.PreferencePane"
            class="org.eclipse.remail.preferences.PreferencePaneFilters"
            id="org.eclipse.remail.preferences.PreferencePaneFilters"
            name="Message Filters">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.remail.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
         <decorator
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            label="REmail"
            state="true"
            lightweight= "true"
            quadrant = "BOTTOM_RIGHT"
            class="org.eclipse.remail.decorators.REmailLightweightDecorator"
            id="org.eclipse.remail.decorators.REmailLightweightDecorator">
         <description>
            %DecoratorStandard.desc
         </description>
    </decorator>
   </extension>
   <extension
         id="remailmarker"
         name="Remail Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension point="org.eclipse.ui.editorActions"> 
<editorContribution 
      id="org.eclipse.remail.markerInit" 
   targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
   <action
         id="org.eclipse.remail.editor.action1" 
         label="Editor Action 1" 
         icon="icons/remail.png"
         tooltip="Tooltip for Editor Action 1"
      toolbarPath="Normal/additions"
         class="org.eclipse.remail.editor.markerInitActionDelegate"> 
      </action> 
   </editorContribution> 
</extension>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="false"
            class="org.eclipse.remail.editor.MailHover"
            description="Cool Hover"
            id="REmail.hover1"
            label="Hooover">
      </hover>
   </extension>
</plugin>
