<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.eclipse.remail.SingleSearch"
               label="REmail Search"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="searchInsensitive"
            id="org.eclipse.emailrecommender.searchInsensitive"
            name="searchInsensitive">
      </command>
      <command
            description="searchSensitive"
            id="org.eclipse.emailrecommender.searchSensitive"
            name="searchSensitive">
      </command>
      <command
            id="org.eclipse.emailrecommender.searchStrict"
            name="searchStrict">
      </command>
      <command
            id="org.eclipse.emailrecommender.searchLoose"
            name="searchLoose">
      </command>
      <command
            id="org.eclipse.emailrecommender.searchDict"
            name="searchDict">
      </command>
      <command
            id="org.eclipse.emailrecommender.searchCamel"
            name="searchCamel">
      </command>
      <command
            id="org.eclipse.remail.SingleSearch"
            name="Search">
      </command>
   </extension>
   <extension
         id="lars"
         name="lars"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.remail.SingleSearch"
            commandId="org.eclipse.emailrecommender.searchInsensitive">
      </handler>
      <handler
            class="org.eclipse.remail.SingleSearch"
            commandId="org.eclipse.emailrecommender.searchSensitive">
      </handler>
      <handler
            class="org.eclipse.remail.SingleSearch"
            commandId="org.eclipse.emailrecommender.searchLoose">
      </handler>
      <handler
            class="org.eclipse.remail.Search"
            commandId="org.eclipse.emailrecommender.searchStrict">
      </handler>
      <handler
            class="org.eclipse.remail.SingleSearch"
            commandId="org.eclipse.emailrecommender.searchDict">
      </handler>
      <handler
            class="org.eclipse.remail.SingleSearch"
            commandId="org.eclipse.emailrecommender.searchCamel">
      </handler>
      <handler
            class="org.eclipse.remail.SingleSearch"
            commandId="org.eclipse.remail.SingleSearch">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emailrecommender.category1"
            name="REmail">
      </category>
      <view
            category="org.eclipse.emailrecommender.category1"
            class="org.eclipse.remail.MailView"
            icon="icons/sample.gif"
            id="org.eclipse.emailrecommender.MailView"
            name="E-mails"
            restorable="true">
      </view>
      <view
            category="org.eclipse.emailrecommender.category1"
            class="org.eclipse.remail.MailContentView"
            icon="icons/sample.gif"
            id="org.eclipse.emailrecommender.MailContentView"
            name="E-mail Content"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.remail.preferences.PreferencePane"
            id="org.eclipse.remail.preferences.PreferencePane"
            name="REmail">
      </page>
      <page
            category="org.eclipse.remail.preferences.PreferencePane"
            class="org.eclipse.remail.preferences.PreferencePaneMbox"
            id="org.eclipse.remail.preferences.PreferencePaneMbox"
            name="Thunderbird (Mbox)">
      </page>
      <page
            category="org.eclipse.remail.preferences.PreferencePane"
            class="org.eclipse.remail.preferences.PreferencePanePostgre"
            id="org.eclipse.remail.preferences.PreferencePanePostgre"
            name="PostgreSQL">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.remail.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
         <decorator
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            label="%DecoratorStandard.name"
            state="true"
            lightweight= "true"
            quadrant = "BOTTOM_RIGHT"
            class="org.eclipse.remail.decorators.REmailLightweightDecorator"
            id="org.eclipse.remail.decorators.REmailLightweightDecorator">
         <description>
            %DecoratorStandard.desc
         </description>
    </decorator>
         
   </extension>

</plugin>
