# File containing all the mailing list used

#each account has an username, a password, the server location and its port
#moreover it has a list of mailing list
 accounts:
    - username: remail@sback.it
      password: carneade
      server:   pop.gmail.com
      port:     995
      mailing_lists:
        - name: devl@freenetproject.org
        - name: prova@prova.it
#an example
    - username: remail2@sback.it
      password: anotherPass
      server:   pop.gmail.com
      port:     995
      mailing_lists:
        - name: qualcosa@pincopallino.it
        - name: qualcosaltro@interestingProjects.com